/*----- DESKTOP-FIRST -----*/

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  /*, sans-serif;*/
}

.header {
  width: 100%;    
  background: url("../images/banner-bg.jpg") no-repeat center center / cover;
  background-color: #ccc;
  position: relative;    
}

.header:after {
  content: "";
  position: absolute;
  background: black;
  opacity: 0.6;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-content {
  position: relative;
  color: white;
  z-index: 2;
  max-width: 1200px;
  min-width: 300px;
  text-align: center;
  margin: auto; 

  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;    
  max-width: 700px;
  margin: 125px auto;
  line-height: 70px;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 100%;
  
  /*height: 380px;*/
  flex: 1 0;
}

.logo-menu {
  padding: 30px 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.menu-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0px;
  color: #ffffff;
  display: flex;
  padding: 0px;
  font-size: 13px;
}

.menu-list a {
  text-decoration: none;
  color: white;
}

.menu-list-item {
  margin-left: 35px;
}

.menu-list-post {
  list-style: none;
  text-transform: uppercase;
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.menu-list-post li {
  margin-right: 20px;
}

.line-date-author {
  margin-bottom: 40px;
}

.logo {
  width: 180px;
}

.main-part {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  margin-top: 60px;
  padding: 0 15px;
  box-sizing: border-box;
}

.post {
  display: flex;
  justify-content: left;
  margin-bottom: 60px;
}

.post-new {
  display: flex;
  margin: 0px;
  margin-top: 20px;
}

.post-new h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.post-img {
  width: 380px;
  min-width: 380px;           
  background-color: #eee;
  min-height: 300px;    
}

.post-new-img {
  width: 70px;
  max-width: 70px;
  min-width: 70px;
  background-color: #eee;
  min-height: 70px;
  max-height: 70px;
  font-size: 10px;
}

.post-info {
  margin-left: 30px;
}

.post-new-info {
  margin-left: 20px;
}

main {
  max-width: 760px;
  margin-right: 35px;
}

aside {
  max-width: 270px;
}

h2 a {
  color: black;
  text-decoration: none;
}

h2 a:hover {
  color: #bb9e5c;    
  text-decoration: none;
}

h3 a {
  color: black;
  text-decoration: none;
}

.post-info li a {
  color: #bb9e5c;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;    
}

.post-info li a:hover {
  text-decoration: underline;
}

.post-info h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 40px;
}

.post-info p {
  font-size: 15px;
  margin-top: 10px;
}

.post-info-author {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  font-size: 12px;
}

.post-info-date {
  color: #959595;
  font-size: 12px;
}

.post-new-info h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

aside h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

aside h2::after {
  content: '';
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  display: block;
  margin: 15px auto 0 auto;
}

.social-container {
  list-style: none;
  text-transform: uppercase;
  margin: 65px auto 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f4f7f6;
  padding: 30px 0;
  max-width: 1200px;

}

.social-media {
  margin: 0 35px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  margin-bottom: 40px;
  margin-top: 70px;
}

.copyright a {
  color: #b0b0b0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.list-tags {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list-tags li {
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid #eeeeee;
  padding: 5px 13px;
}

.list-tags li:hover {
  border: 3px solid #bb9e5c;
}

.list-tags a:hover {
  text-decoration: none;
}

.list-themes a:hover {
  color: #bb9e5c;
  text-decoration: none;
}

.list-themes {
  list-style: none;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
}

.list-themes span {
  position: relative;
  color: #bb9e5c;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
}

.list-themes li {
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.form-email input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: none;
  padding: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  background-color: #f4f7f6;
}

.form-email button {
  border: none;
  background-color: #b69f5b;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  height: 45px;
}

.form-find {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-find button {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #b69f5b;
  background-image: url("../svg/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}

.form-find input {
  width: 225px;
  padding: 15px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  background-color: #f4f7f6;
  height: 45px;
  box-sizing: border-box;    
}

.form-find input:focus {
  border: 1px solid #bb9e5c;
}

.form-email input:focus {
  border: 1px solid #bb9e5c;
}

.popup-body textarea:focus {
  border: 1px solid #bb9e5c;      
}

.popup-body select:focus {
  border: 1px solid #bb9e5c;      
}

section {
  margin-bottom: 60px;
}

.social-icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.social-icon-telegram {
  background-image: url("../svg/003-tumblr.svg");
}

.social-icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-icon-twitter {
  background-image: url("../svg/001-dribbble.svg");
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

._hidden {
  display: none;
  /*display: block;*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* 30-07-2022*/
.trends-container {
  display: flex;
  justify-content: center;    
}

.trend {
  width: 25%;
  min-height: 320px;
  background-color: #ccc;
  background-size: cover;
  position: relative;

  /* display: flex;
  flex-direction: column;*/
}

.trend:nth-child(n+2) {
  margin-left: 5px;
}

.header-with-line {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.trends {
  margin-top: 63px;
}

.header-with-line::after {
  content: '';
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  display: block;
  margin: 14px auto 0 auto;
}

.trend h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.trend a {
  color: white;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}

.trend:after {
  content: "";
  position: absolute;
  background: black;
  opacity: 0.6;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.trend-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border: 3px solid #b69f5b;
  z-index: 2;

  /*position: relative;*/
  padding: 30px;

  /*flex: 0 1 auto;*/
  position: absolute;
  bottom: 0;
}

.menu-list-trend {
  list-style: none;
  text-transform: uppercase;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  color: #bb9e5c;
  text-decoration: none;
  font-weight: bold;
}

.menu-list-trend li {
  margin-right: 20px;
}

.menu-list-trend li a {
  color: #bb9e5c;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.our-works {
  /*margin: 65px 0px;*/
  max-width: 1200px;
  margin: 0px auto;
}

.our-works-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: center;
  padding: 0;
  max-width: 1200px;
}

.our-works-container h3 {
  text-transform: uppercase;
}

.our-works-container p {
  font-size: 15px;
}

.our-work {
  width: 33.33%;
  /*border: 3px solid #d3c59d;*/
  padding: 0 20px 30px;
  flex-grow: 1;
  /* не вытягивает блок к низу, как в рекомендации */
}

.our-work:nth-child(n+2) {
  margin-left: 65px;
}

.price-and-buy {
  display: flex;
  justify-content: space-between;
}

.price-and-buy button {
  width: 140px;
  height: 50px;
  background-color: #b69f5b;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.our-work-img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.our-works a {
  color: #bb9e5c;
  text-decoration: none;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.old-price {
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
}

.gold-border {
  outline: 3px solid #d3c59d;
  outline-offset: 15px;
  margin-top: -15px;
  padding-top: 15px;
}

.menu-mobil {
  display: none;
}

.logo-mobile {
  display: none;
  width: 270px;
  margin: 45px;
}

/*----- POPUP DESKTOP -----*/
.popup {
  /*display: none;*/
  width: 100%;
  height: 100%;
  ;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.popup-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup-body {
  margin: auto;
  width: 390px;
  padding: 55px 30px;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.popup-close {
  width: 15px;
  height: 15px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -25px;
  right: 0;
  cursor: pointer;
}

.popup-hint {
  display: block;
  font-size: 13px;
  margin-bottom: 12px;
}

.popup-field {
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 30px;
  font-family: inherit;
  outline: none;
  font-size: 13px;
  background-color: #f4f7f6;
}

.popup-header {
  display: block;
}

.popup-button {
  border: none;
  background-color: #b69f5b;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  height: 45px;
}

.popup-textarea {   
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  max-height: 130px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 8px 15px;
}

.radio-group-text {
  font-family: inherit;
  font-size: 13px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;

  vertical-align: middle;
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
  font-size: 13px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}

.radio:checked~.radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

/*----- TABLET -----*/
@media (min-width: 641px) and (max-width: 1200px) {    
  .header-title {
      /*height: 310px; */
  }

  .header h1 {
      font-size: 40px;
      padding-left: 35px;
      padding-right: 35px;
      margin: 100px auto;
  }

  .header {
      background: url("../images/banner-bg-tablet.jpg") no-repeat center center / cover;
  }

  .trends-container {
      flex-wrap: wrap;
  }

  .trend {
      width: 49%;
  }

  .trend h3 {
      font-size: 17px;
  }

  .trend:nth-child(n+2) {
      margin: 0px;
  }

  .trend:nth-child(2n+2) {
      margin-left: 5px;
  }

  .trend:nth-child(n+3) {
      margin-top: 5px;
  }

  .post {
      flex-wrap: wrap;
  }

  .post-info {
      margin-left: 0px;
  }

  .post-img {
      width: 100%;
      min-width: 360px;
  }

  .our-works-container {
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  .main-part {
      padding: 0 35px;
  }

  .our-work {
      width: calc((100% - 2 * 87px) / 2);
      /*box-sizing: border-box;*/
      flex-grow: 0;
  }

  .our-work:nth-child(2n+1) {
      margin-left: 35px;
      margin-right: 12px;
  }

  .our-work:nth-child(2n+2) {
      margin-right: 35px;
      margin-left: 12px;
  }

  .our-work:nth-child(n+3) {
      margin-top: 30px;
  }

  .our-work-img {
      width: 100%;
  }

  .menu-list {
      display: none;
  }

  .logo-menu {
      padding: 30px 35px 0;
  }

  .post-info li a {
      font-size: 14px;
  }

  .post-info h2 {
      font-size: 17px;
  }

  .social-container {
      margin: 50px 35px 0px;
  }

  .post::after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #eee;
      display: block;
      margin: 10px auto 0 auto;
  }

  .menu-mobil {
      display: block;         
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {    
  .trend {
      width: 23%;
  }

  .trend:nth-child(n) {
      margin-top: 0px;
  }

  .trend:nth-child(n+1) {
      margin-left: 5px;
  }

  .trend h3 {
      font-size: 2vw;
  }

  .trend-content {
      margin: 0px 1vw 1vw;    
      padding: 1.5vw;
  }
}

/*----- MOBILE -----*/
@media (max-width: 640px) {
  .header h1 {
      font-size: 26px;
      line-height: 36px;
      padding: 0 15px;
      margin: 0 auto;
  }

  .header-title {
      /*height: 100%; */
  }

  .logo {
      display: none;
  }

  .menu-list {
      display: none;
  }

  .trends-container {
      flex-wrap: wrap;
  }

  .trend {
      width: 100%;
      margin-top: 3px;
  }

  .trend h3 {
      font-size: 16px;
  }

  .trends {
      margin-top: 45px;
  }

  .header-with-line {
      margin-bottom: 30px;
      font-size: 16px;
  }

  .main-part {
      flex-wrap: wrap;
  }

  .post {
      flex-wrap: wrap;
  }

  .our-works-container {
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  .our-work:nth-child(n) {
      width: 100%;
      margin: 15px;
      padding: 0 20px;
  }

  .our-work:nth-child(n+2) {
      margin-top: 30px;
  }

  .post-img {
      width: 100%;
      min-width: 360px;
      min-height: 250px;
  }

  .post-info {
      margin-left: 0px;
  }

  .post-info li a {
      font-size: 14px;
  }

  .post-info h2 {
      font-size: 16px;
      margin-bottom: 25px;
  }

  .line-date-author {
      margin-bottom: 25px;
  }

  .post {
      margin-bottom: 40px
  }

  main {
      margin: 0px;
  }

  .post-info p {
      font-size: 14px;
  }

  aside {
      max-width: 100%;
  }

  .form-find input {
      width: 100%;
  }

  section {
      margin-bottom: 45px;
  }

  .our-works-container h3 {
      font-size: 17px;
  }

  .social-container {
      margin: 40px 15px 0px;
  }

  .post::after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #eee;
      display: block;
      margin: 10px auto 0 auto;
  }

  .menu-mobil {
      display: block;        
  }

  .copyright {
      margin-top: 50px;
  }

  .logo-mobile {
      display: block;
      margin: 0 auto 50px auto; 
  }

  .header {
      background: url("../images/banner-mobile.jpg") no-repeat center center / cover;
      height: 100vh;
      max-height: 667px;
  }

  .header-content {
      width: 100%;
      height: 100%;
      max-height: 667px;
  }

  /*----- POPUP MOBILE -----*/
  .popup-body {
      width: 330px;
      padding: 30px 20px;
  }
  
}

@media (max-width: 640px) and (orientation: landscape) {    
  .trend {
      width: 48%;
  }

  .trend:nth-child(n) {
      margin: 0px;
  }

  .trend:nth-child(n+3) {
      margin-top: 5px;        
  }

  .trend:nth-child(2n+2) {
      margin-left: 5px;        
  }

  .trend h3 {
      font-size: 3vw;
  }

  .trend-content {
      margin: 0px 3vw 3vw;    
      padding: 5vw;
  }
}