* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  img {
	width: 100%;
  }
  
  @font-face {
	font-family: "Open_Sans";
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: "Open_Sans_Bolt";
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: normal;
  }
  
  html {
	font-family: "Open_Sans";
  }
  
  ul {
	list-style-type: none;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .header {
	background-size: cover;
	background-color: #000000;
	position: relative;
	z-index: 1;
	background-image: url(../images/banner-bg.jpg);
	background-position: center;
	/* background-size: 100%; */
	background-repeat: no-repeat;
	padding-bottom: 185px;
	padding-top: 35px;
  }
  
  .header_burger {
	display: none;
  }
  
  .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
  
  .menu_list {
	font-family: "Open_Sans";
	display: flex;
	list-style: none;
	z-index: 1;
  }
  
  .menu_list_item {
	text-transform: uppercase;
  }
  
  .menu_list_item_link {
	color: #fff;
	text-decoration: none;
	transition: all 0.4s;
	border-bottom: 1px solid transparent;
  }
  
  .menu_list_item_link:hover {
	border-bottom: 1px solid white;
  }
  
  .menu_list_item:not(:last-child) {
	margin-right: 35px;
  }
  
  .nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  }
  
  .nav_img {
	position: relative;
	max-width: 180px;
	z-index: 1;
  }
  
  .nav_img-mobile {
	display: none;
  }
  
  .hero {
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-size: 100%;
	position: relative;
	margin-top: 121px;
  }
  
  .header:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.6;
  }
  
  .hero_heading {
	font-family: "Open_Sans_Bolt";
	font-size: 34px;
	color: #fff;
	text-transform: uppercase;
	z-index: 1;
	max-width: 539px;
	text-align: center;
  }
  
  .trends_heading {
	text-align: center;
	padding-top: 64px;
	margin-bottom: 45px;
  }
  
  .trends_heading::after {
	content: "";
	display: block;
	height: 3px;
	background: #b59f5b;
	position: relative;
	bottom: -14px;
	width: 66px;
	left: 48%;
  }
  
  .trends {
	display: flex;
  }
  
  .trends_card_text {
	color: white;
	text-transform: uppercase;
  }
  
  .trends_card_text:hover {
	color: #b59f5b;
  }
  
  .trends_card {
	position: relative;
	padding: 20px;
	display: flex;
	align-items: flex-end;
	width: 24.8%;
  }
  
  .trends_card:not(:last-child) {
	margin-right: 3px;
  }
  
  
  .trends_card::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.6;
  }
  
  .trends_card_desc {
	border: 2px solid #b59f5b;
	padding: 15px;
	position: relative;
	z-index: 1;
  }
  
  .trends_card {
	background-image: url(../images/trend1.jpg);
	background-size: cover;
	min-height: 320px;
  }
  
  .trends_card:nth-child(2n) {
	background-image: url(../images/trend2.jpg);
  }
  
  .trends_card:nth-child(3n) {
	background-image: url(../images/trend3.jpg);
  }
  
  
  .trends_card:nth-child(4n) {
	background-image: url(../images/trend4.jpg);
  }
  
  
  .content {
	padding-top: 64px;
	display: flex;
	justify-content: space-between;
  }
  
  .content_main {
	max-width: 780px;
  }
  
  .content_main_item {
	display: flex;
	margin-bottom: 60px;
  }
  
  /* .content_main_item:not(last-child) {
	margin-bottom: 60px;
  } */
  
  .content_main_item_img {
	margin-right: 30px;
	max-width: 381px;
	object-fit: contain;
  }
  
  .category {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
	word-spacing: 20px;
	display: flex;
  }
  
  .category_link {
	color: #b59f5b;
	text-transform: uppercase;
	text-decoration: none;
  }
  
  
  .category_link:hover {
	text-decoration: underline;
  }
  
  .category_link:not(last-child) {
	margin-right: 20px;
  }
  
  .header_main {
	font-family: Open_Sans_Bolt;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 35px;
  }
  
  .header_main_link {
	text-decoration: none;
	color: black;
  }
  
  .header_main_date {
	margin-bottom: 30px;
  }
  
  .header_main_date--grey {
	color: #888;
	margin-right: 15px;
  }
  
  .header_main_date--bold {
	font-weight: 600;
  }
  
  .content_aside_mailing {
	flex-direction: column;
	width: 100%;
	margin-bottom: 63px;
  }
  
  .content_aside_mailing_field {
	padding: 16px;
	background-color: #f4f7f6;
	border: 1px solid transparent;
	outline: none;
	width: 100%;
	transition: all 0.5s;
  }
  
  .content_aside_mailing_button:hover {
	background-color: black;
  }
  
  .content_aside_mailing_field:focus {
	border-bottom: 1px solid #b59f5b;
  }
  
  .content_aside_mailing_button {
	background-color: #b59f5b;
	width: 100%;
	height: 47px;
	cursor: pointer;
	border: none;
	margin-top: 18px;
  }
  
  .content_aside_mailing_button__lens {
	width: 20px;
  }
  
  .mailing_botton_text {
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
  }
  
  .content_aside {
	align-items: center;
	max-width: 272px;
  }
  
  .content_aside_heading {
	margin-bottom: 47px;
	display: block;
	text-align: center;
  }
  
  .content_aside_heading:after {
	content: "";
	display: block;
	height: 3px;
	background: #b59f5b;
	position: relative;
	bottom: -14px;
	width: 66px;
	left: 38%;
  }
  
  .content_aside_newposts_tags {
	position: relative;
	margin-bottom: 40px;
	text-align: center;
  }
  
  .content_aside_newposts_tags_heading {
	text-align: center;
  }
  
  .content_aside_newposts_themes {
	position: relative;
	margin-bottom: 40px;
	text-align: center;
  }
  
  .content_aside_newposts_card {
	display: flex;
	margin-bottom: 24px;
  }
  
  .content_aside_newposts_card_desc_date {
	color: #888;
	font-size: 12px;
  }
  
  .content_aside_newposts_card_desc_text {
	font-size: 14px;
	font-weight: 600;
  }
  
  .content_aside_newposts_card_desc_text_link {
	text-decoration: none;
	color: black
  }
  
  .content_aside_newposts_card_desc_text_link:hover {
	color: #b59f5b;
  }
  
  .content_aside_newposts_card_img {
	max-width: 70px;
	max-height: 70px;
	margin-right: 20px;
  }
  
  .content_aside_search {
	display: flex;
	width: 100%;
  }
  
  .content_aside_fields {
	display: flex;
	margin-top: 36px;
	margin-bottom: 63px;
  }
  
  .content_aside_search_field:focus {
	border-bottom: 1px solid #b59f5b;
  }
  
  .content_aside_search_field {
	padding: 15px;
	background-color: #f4f7f6;
	border: 1px solid transparent;
	outline: none;
	width: 100%;
	transition: all 0.5s;
  }
  
  .content_aside_search_field::after {
	width: 100%;
	height: 1px;
  }
  
  .content_aside_search_button {
	background-color: #b59f5b;
	width: 59px;
	height: 48px;
	cursor: pointer;
	border: none;
	background-image: url(../svg/search.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-size: 22px;
	background-position: center;
  }
  
  .content_aside_search_button:hover {
	background-color: #323232;
  }
  
  .content_aside_search_button__lens {
	width: 20px;
  }
  
  .tag {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 63px;
  }
  
  .tag_element {
	font-size: 12px;
	text-transform: uppercase;
	color: #0f0d0e;
	background-color: rgba(244, 243, 241, 0);
	border: 3px solid #eeeeee;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
  }
  
  .tag_element_link {
	text-decoration: none;
	color: #0f0d0e;
  }
  
  .tag_element_link:hover {
	font-weight: 700;
  }
  
  .themes {
	width: 100%;
  }
  
  .themes_item {
	border-bottom: 1px solid #eeeeee;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
	padding-top: 16px;
	padding-bottom: 16px;
  }
  
  .themes_item_link {
	color: #000000;
	text-decoration: none;
  }
  
  .themes_item_link:hover {
	color: #b59f5b
  }
  
  .themes_item_sup {
	color: #b59f5b;
	vertical-align: super;
	font-size: 11px;
  }
  
  /* .goods_wrapper_card {
	width: 100%;
	display: flex;
	flex-direction: column;
  } */
  
  .good_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 27px;
	margin-bottom: 30px;
  }
  
  
  /* .good_wrapper {
	display: flex;
	margin-bottom: 30px;
  } */
  
  .goods_wrapper_card {
	/* width: 33%; */
	display: flex;
	flex-direction: column;
  }
  
  /* .goods_wrapper_card:not(:last-child) {
	margin-right: 20px;
  } */
  
  .goods_wrapper_card_img {
	padding: 0 30px;
	margin-bottom: -37px;
  }
  
  .goods_wrapper_card_desc {
	border: 3px solid #b59f5b;
	padding: 50px 30px 15px 30px;
	position: relative;
	flex-grow: 1;
  }
  
  .goods_wrapper_card_desc_price {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .not-price {
	text-decoration: line-through;
  }
  
  .goods_text_link {
	text-decoration: none;
	color: #b59f5b;
  }
  
  .goods_text_link:hover {
	text-decoration: underline;
  }
  
  .goods_wrapper_card_desc_link {
	background-color: #b59f5b;
	padding: 21px 26px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
  }
  
  .goods_wrapper_card_desc_link:hover {
	background-color: #000000;
  }
  
  .goods_wrapper_card_desc_heading {
	margin-bottom: 15px;
  }
  
  .goods_wrapper_card_desc_text {
	margin-bottom: 26px;
  }
  
  .goods_wrapper_card_desc_price_rub {
	display: flex;
	align-items: flex-start;
	padding: 10px 0;
	flex-direction: column;
  }
  
  .footer {
	margin-bottom: 40px;
  }
  
  .footer_social {
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 1200px;
	margin-bottom: 70px;
  }
  
  .footer_social_icon {
	width: 20px;
  }
  
  .footer_social_link {
	text-decoration: none;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: relative;
  }
  
  .footer_social_link:not(:last-child) {
	margin-right: 30px;
  }
  
  .footer_social_link--dribble {
	background-image: url(../svg/001-dribbble.svg);
  }
  
  .footer_social_link--pinterest {
	background-image: url(../svg/001-pinterest.svg);
  }
  
  .footer_social_link--tumblr {
	background-image: url(../svg/003-tumblr.svg);
  }
  
  .footer_social_link--a {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
  }
  
  .footer_policy {
	/* display: flex;
	justify-content: center; */
	font-size: 12px;
	color: #999999;
	font-weight: 700;
	text-align: center;
  }
  
  .popup_container {
	width: 400px;
	height: 500px;
	border: 3px solid black;
	margin: auto;
	padding: 25px;
	background-color: #fff;
	position: relative;
  }
  
  .popup_header {
	text-align: center;
	margin-bottom: 45px;
	text-transform: uppercase;
  }
  
  .popup_header::after {
	content: "";
	display: block;
	height: 3px;
	background: #b59f5b;
	position: relative;
	bottom: -14px;
	width: 66px;
	left: 43%;
  }
  
  .header_burger {
	display: none;
  }
  
  .popup_form_item {
	margin-bottom: 20px;
  
  }
  
  .popup_form_item_select {
	width: 100%;
	margin-top: 10px;
	padding: 13px 10px;
	color: grey;
	border: none;
	background: #f3f2f2 url('/svg/form-arrows.svg') no-repeat right 10px center;
	background-size: 8px;
	appearance: none;
  }
  
  .popup_form_item_select_option {
	width: 100%;
	padding: 13px 10px;
	color: grey;
	border: none;
	background-size: 8px;
	appearance: none;
  }
  
  .popup_form_item_email {
	margin-bottom: 10px;
  }
  
  .popup_form_item_radio_item {
	display: none;
  }
  
  .popup_form_item_radio:not(:last-child) {
	margin-right: 20px;
  }
  
  .popup_form_item_radio_item_point::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background: url('/svg/form-empty-circle.svg') no-repeat center center;
	background-size: 100%;
  }
  
  .popup_form_item_radio_item:checked~.popup_form_item_radio_item_point::before {
	background-image: url('/svg/form-circle.svg');
  }
  
  .popup_form_item_textarea {
	width: 100%;
	min-height: 70px;
	resize: none;
	padding: 10px;
	margin-top: 10px;
	font: inherit;
	color: grey;
	background-color: #f3f2f2;
	border: none;
	font-size: 12px;
  }
  
  .popup_form_btn {
	background-color: #b59f5b;
	width: 100%;
	height: 47px;
	cursor: pointer;
	border: none;
	margin-top: 18px;
	transition: 0.3s all;
  }
  
  .popup_form_btn_text {
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
  }
  
  
  .popup_form_btn:hover {
	background-color: #0f0d0e;
  }
  
  .popup_mask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #0f0d0eab;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
  }
  
  .popup_close_btn {
	position: absolute;
	top: -20px;
	right: 0;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
  }
  
  /**/
  
  
  
  @media(max-width:1200px) {
  
	.header {
	  background-image: url(../images/banner-bg-tablet.jpg);
	}
  
	.header_burger {
	  display: block;
	  position: relative;
	  width: 30px;
	  height: 20px;
	  z-index: 1;
  
	  border: none;
	  padding: 0;
	  background-color: transparent;
	  cursor: pointer;
	}
  
	.header_burger::before,
	.header_burger::after {
	  content: '';
	  background-color: #fff;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  left: 0;
	  border-radius: 5px;
	}
  
	.header_burger:before {
	  top: 0;
	  padding-top: 1%;
	}
  
	.header_burger::after {
	  bottom: 0;
	}
  
	.header_burger_span {
	  background-color: #fff;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  top: 9px;
	  left: 0;
	  border-radius: 5px;
	}
  
	.container {
	  padding-right: 20px;
	  padding-left: 20px;
	}
  
	.menu_list {
	  display: none;
	}
  
	.trends {
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(2, 1fr);
	  grid-column-gap: 3px;
	  grid-row-gap: 3px
	}
  
	.trends_card {
	  width: 100%;
	}
  
	.trends_card_desc {
	  width: 100%;
	}
  
	.content_main_item {
	  flex-direction: column;
	}
  
	.content_main_item_img {
	  margin-bottom: 20px;
	}
  
	.content_main_item_desc {
	  padding-bottom: 40px;
	  border-bottom: 2px solid grey
	}
  
	.content_main {
	  width: 64%;
	  margin-right: 36px;
	}
  
	.content_main_item_img {
	  max-width: unset;
	}
  
	.good_wrapper {
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(2, 1fr);
	}
  
	.goods_wrapper_card {
	  width: 100%;
	}
  }
  
  @media (max-width:767px) {
	.nav_img {
	  display: none;
	}
	.nav_img-mobile {
	  display: block;
	  margin-bottom: 20px;
	  z-index: 1;
	}
  
	.hero {
	  flex-direction: column;
	}
  
	.trends {
	  grid-template-columns: repeat(1, 1fr);
	}
  
	.content {
	  flex-direction: column;
	}
  
	.content_main {
	  margin-right: 0;
	  width: 100%;
	}
  
	.content_aside {
	  max-width: unset;
	}
  
	.good_wrapper {
	  grid-template-columns: repeat(1, 1fr);
	}
  
	.popup_mask {
	  padding: 0 20px;
	}
  }
  
  @media(max-width:360px) {}