@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;   
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
       url("../fonts/OpenSans-Bold.woff") format("woff"),
       url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;   
}

* {
  margin: 0;
  padding: 0;
}

.popup._hidden { 
  display: none;
}

body {
  width: 100%;
  max-width: 1660px;
  min-width: 1201px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  max-width: 1201px;
  /* min-width: 1170px; */
  padding: 0 15px;
}


.container-header {
  padding-top: 25px;
}

.blog-header {
  width: 100%;
  background-color: #666666;
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}

.blog-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

.logo-mobile {
  display: none;
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  z-index: 10;
}

.menu-btn {
  display: none;
}

li {
  list-style: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: underline;
}

.title {
  width: 690px;
  margin: 0 auto;
  padding: 103px 0 129px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 44px;
  line-height: 73px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

/* ********************** */
/* TRENDS */
/* ********************** */


.trends {
  width: 100%;
  max-width: 1660px;
  margin-bottom: 64px;
}

.trends-header,
.shop-header {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.trends-header::after,
.shop-header::after {
  content: '';
  width: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 28px;
  text-align: center;
  border-bottom: 3px solid #b59f5b;   
}

.trends-container {
  display: flex;
  justify-content: space-between;
  min-height: 321px;
  gap: 5px;
}

.trends-post {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 25%;
  padding: 0 22px 17px;
  background-color: #666666;
  z-index: 0;
}

.trends-post::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.trends-post.plant {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post.cheese {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post.travel {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post.lemon {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post-title { 
  /* padding: 30px 36px 36px 36px; */
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 31px;
  outline: 3px solid #b59f5b; 
  display: flex;
  flex-direction: column;
}

.trends-post-article {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
}

.trends-post-article:hover {
  color: #b59f5b;
  cursor: pointer;
}

.trends-tags-list {
  display: flex;
}

.trends-tags-list li{
  display: inline-block;
  height: 30px;
}

/**********************/
/* MAIN */
/**********************/

.container-main {
  display: flex;
  justify-content: space-between;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  /* margin-bottom: 59px; */
}

.post-article {
  position: relative;
  top: -15px;
  min-width: 365px;
}

.post-tags-list {
  display: flex;
}

.post-tag {
  padding-right: 18px;
  font-size: 14px;
  line-height: 43px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  text-decoration: none;
}

.post-tag:hover {
  text-decoration: underline;
}

.post-article-title {
  margin-top: -5px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.post-article-title-link {
  color: #0f0d0e;
  text-decoration: none;
}

.post-article-title-link:hover {
  color: #b59f5b;
}

.date-author-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  margin-bottom: 47px; 
}

.date,
.author {
  font-size: 12px;
  line-height: 10px;
} 

.date {
  color: #888888;
  font-weight: 400;
}

.author {
  color: #000000;
  font-weight: 700;
}

.post-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400; 
  margin-bottom: 11px;   
}

/* *********************** */
/*SIDEBAR*/

/* *********************** */

.sidebar {
  /* max-width: 262px; */
  width: 270px;
}

.new-posts {
  margin-bottom: 57px;
}

.new-posts-header {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.sidebar .new-posts:first-child h2:first-child {
  position: relative;
  top: -7px;
}

.new-posts-header::after {
  content: '';
  width: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 22px;
  text-align: center;
  border-bottom: 3px solid #b59f5b;   
}

.new-posts-article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.new-post-article-image {
  width: 70px;
  height: 70px;
}

.new-posts-article-text {
  width: 181px;
  /* padding: 0;
  padding-right: 4px; */
}

.new-posts-article-date {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 9px;
  color: #000000;
  font-weight: 400;
}

.new-posts-article-header {
  font-size: 14px;
  display: block;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.new-posts-article-header:hover {
  color: #b59f5b;
}

.search-field {
  margin-top: 60px;
  display: flex;
}

input[type="search"] {
  width: 223px;
  height: 48px;
  padding-left: 20px;
  border: none;
  background-color: #f4f7f6;
}

input[type="search"]:focus {
outline: 1px solid #b59f5c;
outline-offset: -2px;
}

.search-btn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  position: relative;
  cursor: pointer;
}

.search-btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 16px;
  top: 16px;
  width: 18px;
  height: 25px;
  background-image: url("../svg/search.svg");
  background-position: cover;
  background-repeat: no-repeat;
}

.search-btn:hover {
  background-color: #323232;
}

.subscribe {
  margin-bottom: 58px;
}

input[type="email"] {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 17px;
  padding-left: 15px;
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
}

input[type="email"]:focus {
outline: 1px solid #b59f5c;
}

input[type="submit"] {
  margin: 0;
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #323232;
}

/**/
/*SEARCH TAGS*/
/**/

.search-tags {
  margin-bottom: 50px;
}

.search-tags-list {
  display: flex;
  flex-wrap: wrap;
}

.search-tag {
  padding: 3px 14px;
  margin-bottom: 7px;
  margin-right: 5px;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid #ededed;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  cursor: pointer;
}

.search-tag:hover {
  border: 3px solid #b59f5b;
}


/**/
/*THEMES*/
/**/

.themes {
  margin-bottom: 63px;
}

.themes .new-posts-header:after {
  margin-bottom: 12px;
}

.themes-link-list-item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ededed;
  padding-top: 12px;
  padding-bottom: 15px; 
}

.themes-link-wrapper:nth-child(2) {
  padding-top: 0;
}

.themes-link {
  display: block;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.themes-link:hover {
  color:#b59f5b;
}

.themes-link-number {
  padding-left: 5px;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
}

/****************************/
/*SHOP*/
/****************************/

.container-shop {
  margin-bottom: 95px;
}

.shop-items-container {
  display: flex;
  justify-content: space-around;
  gap: 65px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  justify-content: space-between;
}

.shop-item-info {
  padding: 10px 0 20px 0;
  outline: 3px solid #b59f5b;
  outline-offset: 22px;
  padding: 0;
  flex-grow: 1;
}

.shop-item-info h2 {
  padding-top: 21px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.shop-item-info p {
  font-size: 15px;
  color: #0f0d0e;
  font-weight: 400;
  margin-bottom: 25px;

}

.shop-item-info a {
  text-decoration: none;
  color: #b59f5b;
}

.shop-item-info a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form-price-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  display: flex;
  flex-direction: column;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.new-price {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.shop-btn {
  width: 140px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.shop-btn:hover {
  background-color: #323232;
  cursor: pointer;
}

/* FOOOTER */

.socials {
  padding-top: 32px;
  padding-bottom: 27px;
  background-color: #f3f7f5;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}

.dribble,
.pinterest,
.tumbler {
  width: 20px;
  height: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
}

.copyright-link {
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  text-decoration: none;
}

.container-footer {
  margin-bottom: 0;
}

.post:last-child {
  margin-bottom: 0;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
} 

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup::after {
  content: '';
  display: block;
  position: relative;
  top: 212px;
  right: 17px;
  width: 19px;
  height: 19px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.popup-content {
  display: flex;
  flex-direction: column;
  margin-top: 240px;
  background-color: #ffffff;
  width: 390px;
  padding: 46px 30px 55px;
  box-sizing: border-box;
  z-index: 2; 
  color: #000000;
  font-family: inherit;
} 

.popup-title {
  margin: 0;
  align-self: center;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.popup-title::after {
  content: '';
  width: 66px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 3px solid #b59f5b;   
}

.legend {
  margin-bottom: 9px;
  font-weight: 400;
  padding-right: 10px;
}

select {
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  appearance: none;
  padding-left: 18px;
  padding-right: 25px;
  line-height: 10px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px;
  color: #707171;
}

select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 1px 0 #E9E5D4;
}

label[for="visits"] {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  margin-bottom: 30px;
  font-size: 13px;
}

select, textarea {
  width: 100%;
}

textarea {
  background-color: #f4f7f6;
  border: none;
  padding: 17px 20px;
  box-sizing: border-box;
  min-height: 130px;
  resize: none;
  margin-bottom: -9px;
}

textarea::placeholder {
  font-size: "Open Sans";
  font-weight: 400;
}

.popup_button {
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

input[type="radio"] {
  display: none;
}

.radio-answer {
  position: relative;
  top: -3px;
  display: inline-block;
  margin-right: 10px;
}

.radio-answer::before {
  content: '';
  display: inline-block;    
  margin-right: 7px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;

}

input[type="radio"]:checked +
.radio-answer::before {
  background-image: url("../svg/form-circle.svg")
}

.radio-buttons {
  margin-bottom: 25px;
}

/******************************/
/*MEDIA QUERIES*/
/*****************************/

@media (min-width: 1199px) {
  .container {
      min-width: 1170px;
  }
  .logo-mobile {
      display: none;
  }
  .popup._hidden { 
      display: none;
  }
}

/***** 768PX *****/


@media (orientation: portrait) and (min-width: 641px) and (max-width: 1199px) {
  .logo-mobile {
      display: none;
  }

  body {
      min-width: 640px;
  }

  .container {
      min-width: 640px;
      padding: 0 35px 0 35px;
      box-sizing: border-box;
  }

  .container-header {
      padding-top: 45px;
  }

  .list {
      display: none;
  }

  .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;        
      width: 23px;
      height: 20px;
      align-self: center;
  }

  .menu-btn:hover {
      cursor: pointer;
  }

  .menu-btn span {
      width: 100%;
      height: 1px;
      border-bottom: 3px solid #ffffff; 
  }

  .logo {
      width: 157px;
  }

  .title {
      width: 610px;
      font-size: 40px;
      line-height: 55px;
  }
  
  .blog-header {
      background-image: url(../images/banner-bg-tablet.jpg);
      background-position: center;
  }

  .trends-container {
      flex-wrap: wrap;
  }

  .trends-post {
      box-sizing: border-box;
      width: 49.6%;
      min-width: 49.6%;
      min-height: 245px;
      font-size: 17px;
  }
  
  .trends-post-title {
      width: 100%;
  }

  .post {
      box-sizing: border-box;
      flex-direction: column;
      margin-right: 15px;
  }

  .post-article {
      min-width: 280px;
  }

  .post-illustration-image {
      width: 100%;
  }

  .shop-items-container {
      flex-wrap: wrap;
      justify-content: center;
  }

  .shop-item-info h2 {
      font-size: 17px;
  }

  .shop-item {
      max-width: 250px;
      min-width: 44%;
  }

  .shop-item:last-child {
      margin-right: 53%;
  }

  .popup._hidden { 
      display: none;
  }

  .popup::after {
      top: 210px;
      right: 23px;
      width: 23px;
      height: 23px;
  }

  .radio-answer::before {
      width: 23px;
      height: 23px;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1199px) {

  body {
      min-width: 640px;
  }

  .container {
      min-width: 640px;
      padding: 0 35px 0 35px;
      box-sizing: border-box;
  }

  .container-header {
      padding-top: 45px;
  }

  .list {
      display: none;
  }

  .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;        
      width: 23px;
      height: 20px;
      align-self: center;
  }

  .menu-btn:hover {
      cursor: pointer;
  }

  .menu-btn span {
      width: 100%;
      height: 1px;
      border-bottom: 3px solid #ffffff; 
  }

  .logo {
      width: 157px;
  }

  .title {
      width: 610px;
      font-size: 40px;
      line-height: 55px;
      margin: 0 auto;
  }
  
  .blog-header {
      background-position: center;
      background-image: url(../images/banner-bg-tablet.jpg);
  }

  .trends-container {
      flex-wrap: nowrap;
  }

  .trends-post {
      box-sizing: border-box;
      width: 25%;
      min-width: 24%;
      min-height: 245px;
      font-size: 17px;
  }
  
  .trends-post-title {
      box-sizing: border-box;
      width: 100%;
  }

  .post {
      box-sizing: border-box;
      flex-direction: column;
      margin-right: 15px;
  }

  .post-article {
      min-width: 280px;
  }

  .post-illustration-image {
      width: 100%;
  }

  .shop-items-container {
      flex-wrap: wrap;
      justify-content: center;
  }

  .shop-item-info h2 {
      font-size: 17px;
  }

  .shop-item {
      max-width: 250px;
      min-width: 44%;
  }

  .shop-item:last-child {
      margin-right: 53%;
  }

  .popup::after {
      top: 210px;
      right: 23px;
      width: 23px;
      height: 23px;
  } 

  .radio-answer::before {
      width: 23px;
      height: 23px;
  }

  .title {
      width: 300px;
      font-size: 40px;
      line-height: 55px;
  }
  
  .blog-header {
      background-position: center;
  }

  .trends-container {
      flex-wrap: wrap;
  }

  .trends-post {
      box-sizing: border-box;
      width: 100%;
      /* min-width: 24%; */
      min-height: 245px;
      font-size: 17px;
  }
  
  .trends-post-title {
      box-sizing: border-box;
      width: 100%;
  }

  .post {
      box-sizing: border-box;
      flex-direction: column;
      margin-right: 15px;
  }

  .post-article {
      min-width: 280px;
  }

  .post-illustration-image {
      width: 100%;
  }

  .shop-items-container {
      flex-wrap: wrap;
      justify-content: center;
  }

  .shop-item-info h2 {
      font-size: 17px;
  }

  .shop-item {
      max-width: 250px;
      min-width: 44%;
  }

  .shop-item:last-child {
      margin-right: 53%;
  }

  .popup._hidden { 
      display: none;
  }

  .popup::after {
      top: 210px;
      right: 23px;
      width: 23px;
      height: 23px;
  } 

  .radio-answer::before {
      width: 23px;
      height: 23px;
  }
}

/***** 360PX *****/

@media (max-width: 640px) {

  body {
      max-width: 640px;
      min-width:  100vw;
      width: 360px;
  }
  
  .container {
      max-width: 640px;
      box-sizing: border-box;
      padding: 0 15px 0 15px;
  }

  .container.container-header {
      padding-bottom: 218px;
      margin-bottom: 40px;
  }

  .blog-header {
      background-image: url(../images/banner-mobile.jpg);
      background-size: cover;
  }

  .navigation-panel {
      width: 100%;
      padding-top: 30px;
  }
  
  .logo, 
  .list {
      display: none;
  }

  .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;        
      width: 23px;
      height: 20px;
      align-self: center;
  }

  .menu-btn:hover {
      cursor: pointer;
  }

  .menu-btn span {
      width: 100%;
      height: 1px;
      border-bottom: 3px solid #ffffff; 
  }

  .logo-mobile {
      display: block;
      width: 270px;
      margin: 0 auto;
      padding: 170px 0 30px 0;
  }
  
  .title {
      margin: 0 auto;
      font-size: 26px;
      line-height: 36px;
      padding: 0 0 40px 0;
      width: 270px;
      letter-spacing: -0.6px;
  }
  

  .trends-container {
      flex-wrap: wrap;
  }

  .trends-header,
  .new-posts-header {
      width: 100%;
  }

  .trends-post {
      box-sizing: border-box;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      min-height: 230px; 
      font-size: 17px;
  }
  
  .trends-post-title {
      box-sizing: border-box;
      width: 100%;
  }

  .container-main {
      max-width: 640px;
      width: 100%;
      display: block;
  }

  .post {
      display: block;
      max-width: 640px;
      width: 100%;

  }

  .main-info {
      display: block;
      width: 100%;
      min-width: none;
  }

  .post-article {
      width: 100%;
      max-width: 640px;
      min-width: 200px;
  }

  img.post-illustration-image {
      min-width: 332px;
      max-width: 600px;
  }

  .sidebar {
      width: 100%;
  }
  .shop {
      max-width: 640px;
  }

  .shop-items-container {
      display: block;
      max-width: 640px;
      width: 600px;
      flex-wrap: wrap;
      justify-content: center;
  }

  .shop-item-info h2 {
      font-size: 17px;
  }

  .shop-item {
     width: 100px;
  }

  .popup._hidden { 
      display: none;
  }

  .popup::after {
      top: 210px;
      right: 23px;
      width: 23px;
      height: 23px;
  } 

  .radio-answer::before {
      width: 23px;
      height: 23px;
  }
}